<!DOCTYPE html>

<html>
  <head>
    <title>Parti.fi</title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="screen" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/base.js"></script>
    <script src="/javascripts/partifi.js"></script>
    <script type="text/javascript" charset="utf-8">
    <% if ENV['RACK_ENV'] == 'production' %>// production
      var FACEBOOKAPPID = 253709418060474;
    <% else %>// development
      var FACEBOOKAPPID = 342859172429389;
    <% end %>
    </script>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mobile IE Cleartype -->
    <meta http-equiv="cleartype" content="on">
  </head>

  <body>
         <div id="topbar">
          <h1><img src="/img/topicon.png"></h1>
          <h2 id="tagline">Killing the 30 second DJ</h2>
          <div id="user">
            <div id="user_photo"></div>
            <div id="user_info"></div>
          </div>
        </div>
        <div id="wrapper">
          <div id="index" class="section">

            <div id="fblogin">
              <h1><img src="/img/logo.png"></h1>
              <img src="/img/fb-login.png" id="fb-login" />
            </div>

            <div id="events"  style='display: none'>
              <h1>Choose event</h1>
              <ul></ul>
            </div>
          <div id="current-song" style='display: none'>
            <h3>Current Song</h3>
            <h2></h2>
            <div id='hates'></div>
            <a href='#' id='current-song-hate'><img src='/img/heart-dislike.png' /></a>
          </div>
        <div id="request" style='display: none'>
          <p class='error' style='display: none'>No songs found</p>
          <form action="" method="post">
			<p><input type='text' name='query' id='fieldQuery' placeholder="Fill in your song request" /> <input type='submit' name='send' value='Go' id='sendQuery' /></p>
          </form>
        </div>		  
          <div id="top10"  style='display: none'>
            <h3>Upcoming Songs</h3>
            <table>
              <tbody>
              </tbody>
            </table>
          </div>
          </div><!-- /index -->
        </div><!-- /wrapper -->


<!--      <div id="index">
        <h1>Parti.fi</h1>
       <div id="eventlist" style='display: none'></div>
        <div id="playlist" style='display: none'>
          <div id='current-song'>
          	<h2>Current song</h2>
          	<div id='current-songe-title'></div>
          	<div id='current-song-image'></div>
			<a href='#' id='current-song-hate'>Hate</a>
          </div>
          <div class='container'></div>
          <a href="#" class="requestbutton">Request a song</a>
        </div>
        <div id="request" style='display: none'>
          <p class='error' style='display: none'>No songs found</p>
          <form action="" method="post">
            <fieldset>
              <ol>
                <li>
                  <label for="fieldQuery">Fill in your song request</label>
                  <input type='text' name='query' id='fieldQuery' />
                </li>
                <li>
                  <input type='submit' name='send' value='Go' id='sendQuery' />
                </li>
              </ol>
            </fieldset>
          </form>
        </div>
        -->
        <div id="fb-root"></div>
        <script>
          (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
          }(document));

          $(function() {
       $.partifi.init();
      });

        </script>
      </div>
  </body>
</html>

